
.card-scan {
  border-radius: 1em;
  
}
.card-title {
  color:white;
  border-radius: 1em 1em 0 0;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/01ub-bg.png) center center no-repeat;
  background-size: cover;
}



.card-item {
  height: 13em;
  width: 15em;
  position: relative;
}
.input[type="radio"]{
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 0px 15px rgba(2,28,53,0.08);
  cursor: pointer;
  outline: none;
}

.labell{
  position: absolute;
}
.input[type="radio"]:hover{
  transform: scale(1.05);
}
.input[type="radio"]:checked{
  border: 3px solid var(--primary);
}
.input[type="radio"]:checked:after{
  background-color: var(--primary);
}


.se-date button {
  border-radius: 0.3em;
}
